$background-color: red;
$number-color: white;
$cart-alert-size: 20px;

.cart-alert {
  position: absolute;
  top: 7px;
  background-color: $background-color;
  color: $number-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: $cart-alert-size;
  width: $cart-alert-size;
  p {
    position: absolute;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    top: 1px;
  }
}
