.profile-page {
  min-height: 20vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
}

.profile-data {
  border-radius: 5px;
}

.profile-personal-data {
  background-color: white;
  padding: 20px 40px 40px 40px;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
  margin-bottom: 2px;
}

.profile-order-data {
  background-color: white;
  padding: 20px 40px 40px 40px;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.changepw-btn {
  background-color: blueviolet;
  color: white !important;
  border-radius: 5px;
  height: 35px;
  padding: 20px 40px;
}

.logout-btn {
  background-color: red;
  color: white !important;
  border-radius: 5px;
  height: 35px;
  padding: 20px 40px;
  margin-top: 10px;
}

.empty-message {
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .profile-page {
    margin-top: 140px;
    width: 100%;
    min-height: 70vh;
  }

  .profile-data {
    width: 70%;
  }

  .header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .name-fields {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  button {
    width: 100%;
  }

  .logout-btn {
    background-color: red;
    color: white !important;
    border-radius: 5px;
    height: 35px;
    padding: 20px 40px;
    width: 100%;
  }
}
