<div class="profile-page">
  <div class="profile-data">
    <div class="header">
      <h2>SZEMÉLYES ADATOK</h2>
      <button mat-button class="changepw-btn">Jelszó módosítása</button>
    </div>
    <div class="profile-personal-data">
      <h4>ADATAID</h4>
      <div>
        <p>{{ name }}</p>
        <p>E-mail: {{ email }}</p>
        <p>Felhasználónév: {{ username }}</p>
      </div>
    </div>
    <div class="profile-shipping-data">
      <h4>CÍMEID</h4>
      <div>
        <p>Még nincsenek mentett címeid</p>
      </div>
    </div>
    <div>
      <button class="logout-btn" mat-button (click)="onLogout()">
        Kijelentkezés
      </button>
    </div>
  </div>
</div>
