.products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
  background-color: #f5f5f5;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
  margin: 0px;
  width: 275px;
  height: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  font-family: "Raleway", sans-serif !important;

  .product-name {
    width: 100%;
    text-align: left;
    margin-left: 50px;
  }

  img {
    margin-top: 10px;
    width: 75%;
  }

  .price {
    position: absolute;
    width: 100%;
    text-align: left;
    left: 5px;
    bottom: 10px;
    transition: transform 0.3s ease;
  }

  .action {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.5s ease;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    text-align: bottom;
    margin-left: 10px;
    transition: transform 0.5s ease;
  }

  .card-buttons {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.3s ease;
    display: flex;
    justify-content: center;

    button {
      background-color: blueviolet;
      color: white !important;
      border-radius: 3px;
      width: 100%;
      font-size: 16px;
    }
  }

  &:hover {
    .price {
      transform: translateY(-20px);
    }
    .action {
      transform: translateY(-5px);
    }
    .card-buttons {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
