<div *ngFor="let product of Products">
  <mat-card class="product-card">
    <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
    <mat-card-title>{{ product.name }}</mat-card-title>

    <div class="price-and-action">
      <div class="price">{{ product.price | currency : "HUF" }}</div>

      <mat-card-actions class="card-buttons">
        <button mat-button [routerLink]="['/product', product.id]">
          Adatlap
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
