<div class="products-page">
  <div class="products-container">
    <mat-card *ngFor="let product of Products" class="product-card">
      <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
      <div class="product-name">
        <mat-card-title>{{ product.name }}</mat-card-title>
      </div>
      <div class="price">
        <div class="price">{{ product.price | currency }}</div>
      </div>
      <div class="action">
        <mat-card-actions class="card-buttons">
          <button mat-button (click)="goToProduct(product)">Adatlap</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>
