@import "../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-primary;
  transition: transform 0.3s ease;
  padding: $spacing-md $spacing-xl;
  z-index: $z-index-navbar;
  align-items: center;
  box-shadow: $box-shadow-default;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: $spacing-lg;
}

.logo-pic {
  height: 29px;
  margin-right: 3px;
  padding-bottom: 1px;
}

.logo {
  font-size: $font-size-xxl;
  font-weight: bold;
  color: $color-white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $spacing-lg;
}

.menu_btn {
  background-color: $color-secondary;
  color: $color-white !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: $spacing-xs;
  height: $height-button;
  padding: 0px $spacing-xl;
  margin-left: $spacing-xl;
}

.currency {
  padding: 0px $spacing-xl;
}

.menu {
  position: fixed;
  top: $height-navbar;
  margin-left: 190px;
  width: $width-menu;
  background-color: $color-secondary;
  z-index: $z-index-menu;
  padding: $spacing-lg;
  box-shadow: $box-shadow-default;
  max-height: calc(100vh - $height-navbar);
  overflow-y: auto;
}

.menu.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menu ul li {
  padding: $spacing-sm 0;
}

.menu ul li a {
  color: $color-white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
  display: block;
  padding: 8px $spacing-md;
  border-radius: $border-radius-sm;
}

.menu ul li a:hover {
  color: $color-light-gray;
  background-color: $color-transparent-white;
}

body.menu-open {
  overflow: hidden;
}

.currency {
  height: $height-button;
  width: $spacing-xl;
}

.currency-menu {
  position: fixed;
  top: $height-navbar;
  margin-left: 1350px;
  background-color: $color-secondary;
  z-index: $z-index-menu;
  padding: $spacing-lg;
  box-shadow: $box-shadow-default;
  max-height: calc(100vh - $height-navbar);
  overflow-y: auto;
  width: $width-currency-menu;
  li {
    list-style: none;
  }

  button {
    justify-content: flex-start;
    text-align: left;
    color: $color-white !important;
    font-weight: 400;
    width: 100%;
    text-align: start;
    border-radius: $border-radius-sm;
    font-family: "Raleway", sans-serif;
    height: $height-button;
  }

  button:hover {
    color: $color-white !important;
    font-weight: 400;
    color: $color-light-gray;
    background-color: $color-transparent-white;
  }
}

.currency-menu.hidden {
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}

.search-bar-container {
  height: $height-button;
  padding: 0 $spacing-sm;
  background: $color-white;
  border-radius: $border-radius-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $spacing-sm;
  margin-left: $spacing-sm;
  max-width: 1100px;
  width: $width-search;
}

.search-bar-container input {
  width: 100%;
  outline: none;
  border: none;
  background: inherit;
  padding: 0 $spacing-sm;
  width: 60vw;
  height: 80%;
}

.currency {
  color: $color-white !important;
  background-color: $color-secondary !important;
}

.navbar-right {
  list-style: none;
  display: flex;
  gap: $spacing-lg;
  margin-left: auto;
}

.navbar-right li {
  display: flex;
}

.navbar-right li a {
  font-size: $font-size-md;
}

.navbar-right a {
  text-decoration: none;
  color: $color-white;
  font-size: $font-size-lg;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.navbar-right a:hover {
  color: $color-gray;
}

mat-icon {
  color: $color-white;
  font-size: $font-size-icon;
}

.cart {
  color: $color-white;
  font-size: $font-size-icon;
  transition: transform 0.3s, color 0.3s;
}

.cart:hover {
  color: $color-gray;
}

.search-bar-container mat-icon {
  color: $color-black;
}

main,
router-outlet {
  display: block;
  margin-top: $height-navbar;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-transparent-black;
  z-index: $z-index-overlay;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

//Footer
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: $spacing-xxl;
  color: $color-white;
  hr {
    margin-bottom: $spacing-sm;
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $width-max-content;
  margin: 0 auto;
  padding: 0 $spacing-lg;
  width: 100%;
}

.newsletter-box {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: $spacing-lg;
}

.newsletter-title {
  font-size: $font-size-xl;
  font-weight: bold;
  margin-bottom: $spacing-sm;
}

.newsletter-input-group {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-md;
}

.newsletter-input {
  padding: $spacing-sm;
  border: 1px solid $color-light-gray;
  border-radius: $border-radius-sm;
  margin-right: $spacing-sm;
  width: 70%;
}

.newsletter-btn {
  background-color: $color-green;
  color: $color-white !important;
  border: none;
  border-radius: $border-radius-sm;
  padding: $spacing-sm $spacing-md;
  margin-top: $spacing-sm;
  cursor: pointer;
  width: 200px;

  p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: $font-size-medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: $spacing-xs;
  }
}

.welcome-msg {
  color: $color-white;
  display: flex;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: $spacing-lg;
}

.footer-logo {
  height: $spacing-xxl;
  margin-bottom: $spacing-lg;
  display: flex;
  align-items: flex-start;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-right: $spacing-xl;
  font-weight: 600;
  font-size: $font-size-sm;
}

.footer-column p {
  margin-bottom: $spacing-sm;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  max-width: $width-max-content;
  width: 100%;
  padding: $spacing-lg;
}

.footer-upper {
  width: 100%;
  background-color: $color-secondary;
}
.footer-lower {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $color-primary;
  color: $color-white;
  font-weight: 500;
}

@media (max-width: $breakpoint-desktop) {
  .currency-menu {
    margin-left: 800px;
  }

  .search-bar-container {
    width: 450px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .menu {
    margin-left: 140px;
  }

  .currency-menu {
    margin-left: 390px;
  }

  .search-bar-container {
    width: 130px;
    display: flex;
    justify-content: start;
    input {
      width: 70px;
    }
  }

  .navbar-left {
    gap: 0;
  }

  .navbar-left .menu_btn {
    margin-left: 0;
  }
}

//Mobil nézet
@media (max-width: $breakpoint-mobile) {
  .navbar {
    padding: $spacing-md $spacing-sm;
    width: 100vw;
    .search-bar-container {
      display: none;
    }
  }

  .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .navbar-right {
    position: fixed;
    top: $height-navbar;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-blue;
    width: 100vw;
    left: 0;
    height: $spacing-xxl;
    transition: left 0.3s ease;
  }

  .menu,
  .currency-menu {
    background-color: $color-primary;
    margin-left: 0;
    margin-top: $spacing-xxl;
    width: 100vw;
  }

  .menu_btn {
    margin-left: 0;
    order: 1;
    background-color: $color-primary;
    padding: 0;
  }

  .logo {
    margin-right: 0;
    order: 2;
  }

  .currency {
    order: 3;
    background-color: $color-primary !important;
    padding: 0;
  }

  .navbar-right li {
    margin-left: $spacing-lg;
  }

  .navbar-right li:nth-child(1) mat-icon,
  .navbar-right li:nth-child(2) mat-icon {
    transition: transform 0.3s, color 0.3s;
  }

  .navbar-right li:nth-child(1) mat-icon:hover,
  .navbar-right li:nth-child(2) mat-icon:hover {
    color: $color-gray;
  }

  .navbar-right li:first-child {
    margin-left: 30px;
    transition: transform 0.3s, color 0.3s;
  }

  .navbar-right li:nth-child(2) {
    margin-left: 0;
  }

  .navbar-right li:last-child {
    margin-left: auto;
    margin-right: $spacing-xl;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .newsletter-box {
    width: 100%;
  }

  .footer-logo {
    margin: 0;
  }

  .footer-links {
    width: 100%;
  }

  .footer-lower {
    font-size: $font-size-sm;
  }

  .footer-columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-xs;
  }

  .footer-column {
    margin-right: 0;
  }
}
