<nav class="navbar" [class.hidden]="!navbarVisible">
  <div class="navbar-left">
    <a routerLink="/" class="logo"
      ><img class="logo-pic" src="pictures/logo.png" alt="iBit" />iBit</a
    >
    <button class="menu_btn" mat-button (click)="toggleMenu()">
      <ng-container *ngIf="isMobile; else menuLabel">
        <img src="assets/icons/menu.svg" alt="Menu" width="30" height="30" />
      </ng-container>
      <ng-template #menuLabel> Menü</ng-template>
    </button>
    <div class="search-bar-container">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <input type="text" placeholder="Keresés..." class="search-input" />
    </div>
    <button class="currency" mat-button (click)="toggleCurrencyMenu()">
      <ng-container
        class="curr_menu_btn_content"
        *ngIf="isMobile; else currencyLabel"
      >
        <img
          src="assets/icons/currency.svg"
          alt="Currency"
          width="30"
          height="30"
        />
      </ng-container>
      <ng-template #currencyLabel>{{ selectedCurrency }}</ng-template>
    </button>
  </div>
  <ul class="navbar-right">
    <li *ngIf="!isLoggedIn; else welcomeLabel">
      <a routerLink="/login"
        ><ng-container *ngIf="isMobile; else loginLabel">
          <mat-icon>login</mat-icon>
        </ng-container>
        <ng-template #loginLabel>Bejelentkezés</ng-template></a
      >
    </li>
    <ng-template #welcomeLabel>
      <p *ngIf="!isMobile" class="welcome-msg">
        Üdvözlünk, {{ name$ | async }}!
      </p>
    </ng-template>
    <li>
      <a routerLink="/profile"
        ><ng-container *ngIf="isMobile; else profileLabel">
          <mat-icon>account_circle</mat-icon>
        </ng-container>
        <ng-template #profileLabel>Profil</ng-template></a
      >
    </li>
    <li>
      <a routerLink="/cart">
        <mat-icon class="cart">shopping_cart</mat-icon>
      </a>
      <app-cart-alert></app-cart-alert>
    </li>
  </ul>
</nav>

<div class="overlay" [class.active]="isMenuOpen || isCurrencyMenuOpen"></div>

<nav class="menu" [class.hidden]="!menuVisible">
  <ul>
    <li><a routerLink="/product" (click)="toggleMenu()">Termékek</a></li>
  </ul>
</nav>

<nav class="currency-menu" [class.hidden]="!currencyMenuVisible">
  <ul>
    <li>
      <button
        mat-button
        class="currency-menu-item"
        (click)="changeCurrency('HUF')"
      >
        HUF
      </button>
    </li>
    <li>
      <button
        mat-button
        class="currency-menu-item"
        (click)="changeCurrency('EUR')"
      >
        EUR
      </button>
    </li>
    <li>
      <button
        mat-button
        class="currency-menu-item"
        (click)="changeCurrency('USD')"
      >
        USD
      </button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-upper">
    <div class="footer-content">
      <div class="newsletter-box">
        <p class="newsletter-title">Légy naprakész!</p>
        <hr />
        <p>Iratkozz fel a hírlevelünkre</p>
        <div class="newsletter-input-group">
          <input
            mat-form-field
            type="text"
            placeholder="E-mail cím"
            class="newsletter-input"
          />
          <button mat-button class="newsletter-btn">
            <p>Feliratkozom<mat-icon>mail</mat-icon></p>
          </button>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-logo">
          <a routerLink="/" class="logo">
            <img class="logo-pic" src="pictures/logo.png" alt="iBit" />iBit
          </a>
        </div>
        <div class="footer-columns">
          <div class="footer-column">
            <p>Rendeléseim</p>
            <p>Nyereményjáték</p>
            <p>Szállítás</p>
            <p>Cikkek</p>
          </div>
          <div class="footer-column">
            <p>Ismertető</p>
            <p>Adatvédelem</p>
            <p>Garancia</p>
            <p>Videók</p>
          </div>
          <div class="footer-column">
            <p>Kapcsolat</p>
            <p>Jogi nyilatkozat</p>
            <p>Adattörlő kód</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-bottom">
      <p>© iBit Computer Kft. 2025 Minden jog fenntartva!</p>
      <p>Kapcsolat: ibit&#64;ibit.hu</p>
    </div>
  </div>
</footer>
