<div class="password-change-dialog">
  <div class="dialog-header">
    <mat-icon
      class="icon"
      matTooltip="Segítség a jelszó módosításához"
      matTooltipPosition="below"
    >
      question_mark
    </mat-icon>

    <h3>Jelszó módosítása</h3>

    <mat-icon class="icon" (click)="onCancel()">close</mat-icon>
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Jelenlegi jelszó</mat-label>
        <input type="password" matInput formControlName="currentPassword" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Új jelszó</mat-label>
        <input type="password" matInput formControlName="newPassword" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="confirm-password">
        <mat-label>Új jelszó ismét</mat-label>
        <input type="password" matInput formControlName="confirmNewPassword" />
      </mat-form-field>

      <div *ngIf="passwordMismatch" style="color: red; margin-bottom: 20px">
        A két új jelszó nem egyezik!
      </div>

      <button mat-button type="button" class="cancel-btn" (click)="onCancel()">
        Mégse
      </button>
      <button
        mat-button
        type="submit"
        class="change-btn"
        [disabled]="changePasswordForm.invalid || passwordMismatch"
      >
        Módosítom
      </button>
    </div>
  </form>
</div>
