.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 80vh;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1500px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
}

.slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.left_btn,
.right_btn {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_btn {
  left: 0;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.right_btn {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  height: 20px;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
  margin: 0 3px;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.dot.active {
  background-color: rgb(72, 22, 119);
  transform: scale(1.8);
}

.news-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 20px;
  p {
    font-size: 14px;
  }
  p:hover {
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid rgb(0, 217, 0);
  }
  h1 {
    font-size: 30px;
    margin-right: 30px;
    font-weight: 900;
  }
}

.news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1500px;
  margin-bottom: 30px;
}

.news-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  button {
    background-color: white;
    color: rgb(72, 22, 119);
    border: lightgray solid 1px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 12px;
    font-weight: 600;
  }
}

.news-container {
  width: 100%;
  max-width: 1500px;
  margin-bottom: 20px;
}

.news-articles {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.big-news {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 400px;
  width: 800px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  img {
    max-height: 400px;
    width: auto;
    object-fit: cover;
  }
  div {
    margin: 20px;
  }
  span {
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 400;
  }
}

.big-news:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.small-news {
  background-color: white;
  height: 400px;
  width: 200px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.smallest-news-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 3px;
  max-height: 400px;
}

.smallest-news {
  background-color: white;
  height: 100px;
  width: 200px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.selected-title {
  padding-bottom: 3px;
  border-bottom: 3px solid rgb(0, 217, 0);
}

.news-details-type {
  color: rgb(72, 22, 119);
  font-size: small;
  font-weight: 600;
}
