.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  position: relative;
  display: inline-block;
}

img {
  display: block;
  width: 1500px;
  height: auto;
}

.left_btn,
.right_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  cursor: pointer;
}

.left_btn {
  left: 0;
  border-radius: 0px 10px 10px 0px;
}

.right_btn {
  right: 0;
  border-radius: 10px 0px 0px 10px;
}
