<p>main-page works!</p>

<ul>
    <li *ngFor="let product of products" style="padding-bottom: 20px">
      {{ product.name }}
      <br />
      {{ product.cost }}
      <br />
      {{ product.desc }}
      <button mat-button (click)="managementService.createProduct(product)">
        Buy
      </button>
    </li>
  </ul>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut tortor non eros sodales pharetra in sit amet quam. Aliquam sit amet elit vel metus rhoncus porttitor ut quis turpis. Nunc ac placerat nisl, a vehicula diam. Etiam ac mattis erat. Vivamus eu orci mi. Mauris rutrum mollis tincidunt. Vestibulum malesuada consectetur consectetur.

    Mauris at enim eget ligula elementum fringilla. Maecenas tincidunt consectetur quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent condimentum vulputate pulvinar. Pellentesque sodales faucibus metus at varius. Pellentesque a nisi at eros pulvinar scelerisque. Curabitur vitae imperdiet urna, in lobortis neque. Donec dapibus convallis nibh sit amet auctor. Integer laoreet ipsum sed ante varius, in lacinia augue mollis. In posuere maximus lectus, vitae efficitur magna ultrices non. Pellentesque suscipit orci dictum lacus egestas, ac efficitur mauris lacinia. Sed in orci laoreet, consequat tortor sit amet, egestas turpis. Vestibulum vel ipsum justo.
    
    Nullam feugiat, risus at luctus tempor, diam nunc sagittis ante, eget consequat leo ante non arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id ullamcorper nibh. Donec odio odio, vulputate ut nulla ac, hendrerit rutrum eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean ut nisi vel felis porta pharetra. Nunc nisl lectus, condimentum quis efficitur ac, sagittis ut nibh.
    
    Nam erat nibh, commodo id venenatis ut, tempor ut nibh. Nunc consequat justo in sagittis interdum. Pellentesque a venenatis mi. Aliquam tempor nunc elit, nec congue ipsum dapibus at. Duis eu enim et tortor suscipit venenatis. Nullam in justo in leo volutpat porta. Curabitur enim nisl, fringilla nec urna vitae, tincidunt pulvinar ipsum. Nullam condimentum odio ut risus sollicitudin, at rhoncus nibh molestie. Quisque fringilla augue quis turpis viverra luctus. Suspendisse vitae libero ultricies, bibendum felis et, faucibus risus.
    
    Maecenas eget nisl dictum, varius orci et, faucibus ante. Ut et ipsum non diam facilisis sagittis. Donec imperdiet odio aliquam orci semper volutpat. Maecenas vel magna ac leo scelerisque luctus sed vel sapien. Nullam ac ligula euismod mauris ultricies imperdiet vitae nec magna. Aliquam at nisi pharetra, consectetur neque sit amet, tristique turpis. Aliquam purus est, gravida et mollis a, gravida sit amet velit. Quisque vehicula pellentesque erat et mollis. Fusce mollis sit amet tortor eu elementum. Pellentesque tempor ante feugiat, eleifend nulla eu, dapibus diam. Aliquam venenatis rutrum urna, vitae semper enim.</p>