<div class="promo-header"><img src="pictures/promo.jpg" alt="promo" /></div>
<div class="main-page">
  <div class="slider-container">
    <div
      class="slider"
      [ngStyle]="{ transform: 'translateX(' + -currentIndex * 100 + '%)' }"
    >
      <div class="slide" *ngFor="let image of images">
        <img [src]="image" alt="slide" />
      </div>
    </div>
    <button class="left_btn" mat-icon-button (click)="prevSlide()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button class="right_btn" mat-icon-button (click)="nextSlide()">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <div class="slider-dots">
      <button
        class="dot"
        *ngFor="let image of images; let i = index"
        [ngClass]="{ active: i === currentIndex }"
        (click)="goToSlide(i)"
      ></button>
    </div>
  </div>

  <div class="news-container">
    <div class="news-header">
      <div class="news-titles">
        <h1>AJÁNLÓ</h1>
        <p class="selected-title"><strong>Címlap</strong></p>
        <p>IT Világ</p>
        <p>Hardver</p>
        <p>Tudomány</p>
        <p>Játék</p>
        <p>Film + TV</p>
      </div>
      <div class="news-buttons">
        <button mat-button>Gépösszerakó</button>
        <button mat-button>Ajándékutalvány</button>
        <button mat-button>Notebook kereső</button>
      </div>
    </div>
    <div class="news-articles">
      <div class="big-news">
        <img src="pictures/news1.jpg" alt="news1" />
        <div>
          <p class="news-details-type">IT VILÁG</p>
          <h4>
            Botrány a Xiaomi sportautója körül, limitálta a cég a SU7 Ultra
            erejét
          </h4>
          <span>
            A SU7 Ultra némi túlzással egy fegyver, és a cég úgy látta, a
            közönség nem arra használja, amire való, ezért...
          </span>
        </div>
      </div>
      <div class="small-news">
        <img src="pictures/news2.jpg" alt="news2" />
        <div>
          <p class="news-details-type">HARDVER</p>
          <h4>
            Az AMD vezetője szerint egyensúlyt kéne találni az
            exportkorlátozások és a nemzetbiztonsági érdekek között
          </h4>
          <span>
            Az AMD mellett az Nvidia vezetője is felhívta már az amerikai
            kormányzat figyelmét arra, hogy a jelenlegi gyakorlat...</span
          >
        </div>
      </div>
      <div class="small-news">
        <img src="pictures/news3.jpg" alt="news3" />
        <div>
          <p class="news-details-type">HARDVER</p>
          <h4>
            Fura jelenséget fedeztek fel az Arrow Lake-S processzoroknál: A PCI
            Express 5.0 x4-es M.2-es SSD-k lassabbak a vártnál
          </h4>
          <span>
            A jelenségről az Intel szakemberei is tudnak: állítólag az okozza a
            bajt...</span
          >
        </div>
      </div>
      <div class="smallest-news-container">
        <div class="smallest-news">
          <p>Elkészült a Rockstar a GTA 6… második trailerével</p>
          <img src="pictures/news4.png" alt="news4" />
        </div>
        <div class="smallest-news">
          <p>Megérkezett az Exit The Abyss utolsó frissítése</p>
          <img src="pictures/news5.png" alt="news5" />
        </div>
        <div class="smallest-news">
          <p>Igen, a Gears of War is PlayStation cím lesz</p>
          <img src="pictures/news6.png" alt="news6" />
        </div>
        <div class="smallest-news">
          <p>
            Újabb GeForce HotFix drivert adott ki az Nvidia, ezúttal 10 hibát
            javítottak soron kívül
          </p>
          <img src="pictures/news7.jpeg" alt="news7" />
        </div>
      </div>
    </div>
  </div>
</div>
