.registration-page {
  min-height: 60vh;
  margin-top: 120px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px 40px 40px 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.registration-form h3 {
  align-self: flex-start;
}

.name-fields {
  display: flex;
  gap: 1rem;
  width: 100%;
}

form {
  width: 100%;
}

.name-fields mat-form-field {
  flex: 1;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

mat-form-field input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  color: black !important;
}

button {
  background-color: blueviolet;
  text-align: center;
  width: 100%;
  border-radius: 0px;
  color: white !important;
  font-size: 1rem;
  height: 50px;
  margin-bottom: 0;
}

mat-label {
  color: black;
}

p {
  font-size: 0.85rem;
}
